@use '../config';

@use './respond-to' as *;

// Applies CSS properties and values based on the keys/values of a Sass map
@mixin apply-styles(
  $map,
  $breakpoint: null,
  $breakpoints: config.$breakpoints,
  $important: false
) {
  $important: if($important, ' !important', null);

  @include respond-to($breakpoint) {
    @each $prop, $val in $map {
      @if $val {
        #{$prop}: #{$val}#{$important};
      }
    }
  }
}
