@use '../config';
@use '../functions/intrinsic-ratio' as *;

@mixin intrinsic-ratio-class($width, $height, $before: false) {
  $selector: '#{config.$modifier-separator}#{$width}x#{$height}';

  @if $before {
    $selector: '#{$selector}::before';
  }

  &#{$selector} {
    padding-top: intrinsic-ratio($width, $height);
  }
}
