@use 'sass:map';

@use '../config';

@use './apply-styles' as *;
@use './respond-to' as *;

/// Applies CSS properties and values per breakpoint, from a Sass map
/// @param {map} $map
/// @param {map} $breakpoints [config.$breakpoints]
///
/// @example
///   @include styles-from-breakpoint-map((
///     default: (
///       font-size: 18px,
///       line-height: 1.5
///       color: black
///     ),
///     l: (
///       font-size: 26px,
///       line-height: 1.3
///     )
///   ));
///   // font-size: 18px;
///   // line-height: 1.5;
///   // color: black;
///   // @include respond-to(l) {
///   //   font-size: 26px;
///   //   line-height: 1.3;
///   // }
@mixin styles-from-breakpoint-map(
  $map,
  $breakpoints: config.$breakpoints,
  $important: false
) {
  $breakpoints: map.merge(
    (
      default: (),
    ),
    $breakpoints
  );

  @each $breakpoint in map.keys($breakpoints) {
    $styles: map.get($map, $breakpoint);

    @include apply-styles($styles, $breakpoint, $breakpoints, $important);
  }
}
