@use 'sass:color';
@use 'sass:math';

/// Mix two colors with multiply blend mode
/// @param {string} $base-color
/// @param {string} $mix-color
/// @param {string} $weight [100%]
/// @return {color}
/// @example
///   blend-multiply(#ff0, #0f0) // #ffcc00
///   blend-multiply(#ff0, #0f0, 50%) // #ffe600
@function blend-multiply($base-color, $mix-color, $weight: 100%) {
  $red: math.floor(
    color.red($base-color) * math.div(color.red($mix-color), 255)
  );
  $green: math.floor(
    color.green($base-color) * math.div(color.green($mix-color), 255)
  );
  $blue: math.floor(
    color.blue($base-color) * math.div(color.blue($mix-color), 255)
  );

  @return color.mix(rgb($red, $green, $blue), $base-color, $weight);
}
