@use 'sass:list';
@use 'sass:string';

@use './capitalize' as *;

/// Convert string to UpperCamelCase
/// @param {string} $string - String to camelize
/// @return {string}
/// @example
///   camelize("hello-world") // HelloWorld
@function camelize($string) {
  $progress: $string;
  $result: '';
  $exclude: ' ', '-', '_';

  @while string.length($progress) > 0 {
    $char: string.slice($progress, 1, 1);

    @if list.index($exclude, $char) {
      $progress: capitalize(string.slice($progress, 2, 2)) +
        string.slice($progress, 3);
    } @else {
      $result: $result + $char;
      $progress: string.slice($progress, 2);
    }
  }

  @return capitalize($result);
}
