/// Join two maps recursively
/// @param {map} - Map 1
/// @param {map} - Map 2
/// @return {map}
/// @example
///   $map1: (foo: (bar: (baz: baz)));
///   $map2: (foo: (bar: (bam: bam)));
///   map-merge-deep($map1, $map2) // (foo: (bar: (baz: baz, bam: bam)))
@function map-merge-deep($map1, $map2) {
  $out: $map1;

  @each $key, $value in $map2 {
    @if map-get($out, $key) != null and type-of($value) == map {
      $value: map-merge-deep(map-get($out, $key), $value);
    }

    $out: map-merge($out, ($key: $value));
  }

  @return $out;
}
