@use 'sass:meta';

/// Normalize a value so that it always looks like a map of breakpoints
/// @param {mixed} $value
///
/// @example
///   map-normalize((default: 10px, l: 20px)) // (default: 10px, l: 20px)
///   map-normalize(10px) // (default: 10px)
@function map-normalize($value) {
  $result: ();

  @if meta.type-of($value) == map {
    $result: $value;
  } @else {
    $result: (
      default: $value,
    );
  }

  @return $result;
}
