# Ignore generated docs
docs

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.log

# Ignore Gem-related files
Gemfile.lock

# Ignore Node modules.
node_modules

# Ignore build
build

# Ignore various unwanted files.
.DS_Store
