@use 'sass:list';
@use 'sass:meta';

@use '../config';

@use '../functions/grid-column-width' as *;

@mixin generate-width-modifier(
  $columns-and-context,
  $breakpoint: null,
  $property: width,
  $element-separator: config.$element-separator,
  $modifier-separator: config.$modifier-separator,
  $breakpoints: config.$breakpoints
) {
  $columns: null;
  $context: null;
  $columns-modifier: null;

  @if meta.type-of($columns-and-context) == number {
    $columns: $columns-and-context;
    $context: $repetitivo-grid-columns;
    $columns-modifier: '#{$modifier-separator}#{$columns}';
  } @else {
    $columns: list.nth($columns-and-context, 1);

    @if meta.type-of(list.nth($columns-and-context, 2)) == number {
      $context: list.nth($columns-and-context, 2);
    } @else {
      $context: list.nth($columns-and-context, 3);
    }

    $columns-modifier: '#{$modifier-separator}#{$columns}-of-#{$context}';
  }

  $column-width: grid-column-width($columns, $context);

  @if $breakpoint {
    @include respond-to($breakpoint) {
      &#{$element-separator}#{$breakpoint}#{$columns-modifier} {
        #{$property}: $column-width;
      }
    }
  } @else {
    &#{$columns-modifier} {
      #{$property}: $column-width;
    }
  }
}
