@import "../config/naming";
@import "../config/breakpoints";
@import "../config/grid";

@import "../functions/grid-column-width";

@mixin repetitivo-generate-width-modifier($columns-and-context, $breakpoint: null, $property: width, $breakpoint-separator: $repetitivo-element-separator, $modifier-separator: $repetitivo-modifier-separator, $breakpoints: $repetitivo-breakpoints) {
  $columns: null;
  $context: null;
  $columns-modifier: null;

  @if type-of($columns-and-context) == number {
    $columns: $columns-and-context;
    $context: $repetitivo-grid-columns;
    $columns-modifier: "#{$modifier-separator}#{$columns}";
  } @else {
    $columns: nth($columns-and-context, 1);

    @if type-of(nth($columns-and-context, 2)) == number {
      $context: nth($columns-and-context, 2);
    } @else {
      $context: nth($columns-and-context, 3);
    }

    $columns-modifier: "#{$modifier-separator}#{$columns}-of-#{$context}";
  }

  $column-width: grid-column-width($columns, $context);

  @if $breakpoint {
    @include respond-to($breakpoint) {
      &#{$breakpoint-separator}#{$breakpoint}#{$columns-modifier} {
        #{$property}: $column-width;
      }
    }
  } @else {
    &#{$columns-modifier} {
      #{$property}: $column-width;
    }
  }
}
